Dear [$TO_NAME$],

We've received your feedback for the article [$ARTICLE_TITLE$]. In short time
our team will review it and will start working on it. We'll keep you informed on
any action derived from your suggestions.

Thank you!